<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>{{ "Courses"  }}</h1>
        </div>
        <div class="col-6 text-right">
          <dx-button>
            <a href="javascript:;"
            class="btn bg-blue"
            (click)="createCourse()">
            <i class="fa fa-plus-square"></i>
            {{ "Create" }}
          </a>
          </dx-button>
          
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-md-6">&emsp;</div>
            <div class="col-md-6">
              <div class="input-group">
                <div class="input-group-prepend">
                  <dx-button 
                    class="btn bg-blue"
                    (click)="getCourseThroughTitle(keyword)">
                    <i class="fas fa-search"></i>
                  </dx-button>
                </div>
                <input type="text"
                class="form-control"
                name="keyword"
                [placeholder]="'SearchWithThreeDot' "
                [(ngModel)]="keyword"
                (keyup.enter)="getCourseThroughTitle(keyword)" />
            </div> 
            </div>
          </div>
        </div>
        <!-- <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered">
              <thead class="bg-light">
                <tr>
                  <th>{{ "CourseName" }}</th>
                  <th>{{ "DisplayName"   }}</th>
                  <th style="width: 200px;">{{ "Actions" }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let course of courses">
                  <td>{{ course.title }}</td>
                  <td>{{ course.description }}</td>
                  <td>
                    <dx-button class="btn btn-sm bg-secondary" (click)="editCourse(course)">
                      <i class="fas fa-pencil-alt"></i> {{ "Edit"  }}
                    </dx-button>
                    <dx-button class="btn btn-sm bg-danger mx-2" (click)="delete(course)">
                      <i class="fas fa-trash"></i> {{ "Delete"  }}
                    </dx-button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->
        <div class="card-body w-100 h-100 table-responsive table table-striped table-bordered ">
          <dx-data-grid 
            id="gridContainer"
            [dataSource]="courses"
            [allowColumnReordering]="true"
            [allowColumnResizing]="true"
            [columnAutoWidth]="true"
            [showBorders]="true"
            noDataText=""
            >
            <dxi-column dataField="title" caption="Title" [hidingPriority]="1" width="33%" ></dxi-column>
            <dxi-column dataField="description" caption="Description" [hidingPriority]="2"></dxi-column>
            <dxi-column caption="Actions" [hidingPriority]="0" cellTemplate="actionTemplate"></dxi-column>
            <div *dxTemplate="let data of 'actionTemplate'">
              <dx-button class="btn btn-sm bg-secondary" (onClick)="editCourse(data.data)">
                <i class="fas fa-pencil-alt pr-1"></i> {{ "Edit" }}
              </dx-button>
              <dx-button class="btn btn-sm bg-danger mx-2 " (onClick)="delete(data.data)">
                <i class="fas fa-trash pr-1"></i> {{ "Delete" }}
              </dx-button>
            </div>
          </dx-data-grid>
        </div>
        <div class="card-footer table-card-footer bg-light border-top">
          <div class="row">
            <div class="col-sm-4 col-12 text-sm-left text-center">
              <dx-button class="btn btn-secondary"
                (click)="reloadPage()">
                <i class="fas fa-redo-alt"></i>
              </dx-button>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  
  