<form class="form-horizontal" autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'CreateNewCourse'" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <dx-tab-panel>
      <dxi-item title="Details" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "Name" }}
          </label>
          <div class="col-md-9">
            <dx-text-box
              [(ngModel)]="course.title"
              name="name"
              id="name"
              #nameModel="ngModel"
              #nameEl
            ></dx-text-box>
            <abp-validation-summary [control]="nameModel" [controlEl]="nameEl"></abp-validation-summary>
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label" for="description">
            {{ "CourseDescription" | localize }}
          </label>
          <div class="col-md-9">
            <dx-text-area
              [(ngModel)]="course.description"
              name="description"
              id="description"
              [height]="90"
            ></dx-text-area>
          </div>
        </div>
      </dxi-item>
    </dx-tab-panel>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
